<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Identity Demo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">首页 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="api">API</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">关于</a>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-md-0">
      <ul class="navbar-nav mr-auto">
        <a class="nav-link" href="javascript:void(0)">登录</a>
      </ul>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
